In [1]:
# plan for simulated dataset
# * 5 numerical variables
# * 2 categorical variables
# * add missingness to x2, x5, cat1

In [2]:
import numpy as np
import pandas as pd

In [18]:
def generate_X(n = 4000, seed = 404):
    rng = np.random.default_rng(seed)

    #numeric features 
    x1 = rng.normal(0, 1, size = n)
    x2 = rng.normal(5 , 2, size = n)
    x3 = rng.exponential(1, size = n)
    x4 = rng.uniform(-3, 3, size = n)
    x5 = rng.lognormal(0, 1, size = n)

    #Categorical features
    cat1_levels = np.array(["A", "B", "C"]) 
    cat2_levels = np.array(["Low", "Medium", "High"])

    # Choice for probabilities of each level 
    # We want to check for categorical variables that are imbalanced, if we were to choose all three levels 
    # with 1/3 probability 
    # it would be super easy for our neural network to learn. 
    # So one categorical variable with mild imbalance, and the other with a higher imbalance

    cat1 = rng.choice(cat1_levels, size=n, p=[0.4, 0.3, 0.3])
    cat2 = rng.choice(cat2_levels, size=n, p=[0.3, 0.5, 0.2])

    df_X = pd.DataFrame({
        "x1": x1, "x2": x2, "x3": x3, "x4": x4, "x5": x5,
        "cat1": cat1, "cat2": cat2
    })

    return df_X

In [19]:
df = generate_X()
df.head()

         x1        x2        x3        x4        x5 cat1    cat2
0  0.396330  1.776594  0.172009  0.724065  0.321331    C    High
1 -0.616061  5.384115  7.391653 -2.529603  1.514568    B  Medium
2  0.456879  5.646006  2.594144  1.163738  1.638706    A  Medium
3  0.892955  4.946917  0.106609 -1.498865  2.793379    A  Medium
4  0.299435  4.020810  0.431798  1.189655  2.131191    A    High